# **Задачи для совместного разбора**

In [ ]:
import pandas as pd
import re

1. Вывести на экран данные из словаря `obj` построчно в виде `k = v`, задав формат таким образом, чтобы знак равенства оказался на одной и той же позиции во всех строках. Строковые литералы обернуть в кавычки.

In [ ]:
obj = {
    "home_page": "https://github.com/pypa/sampleproject",
    "keywords": "sample setuptools development",
    "license": "MIT",
}
for k, v in obj.items():
  print(f'{k:>9} = "{v}"')
# {k:>9} - 9 - ширина, > - прижимает вправо, < - прижимает влево,
# {k:0>9} - прижимает вправо и вместо недостающих символов ставит 0

home_page = "https://github.com/pypa/sampleproject"
 keywords = "sample setuptools development"
  license = "MIT"

2. Написать регулярное выражение,которое позволит найти номера групп студентов.

In [ ]:
obj = pd.Series(["Евгения гр.ПМ19-1", "Илья пм 20-4", "Анна 20-3"])
obj

0    Евгения гр.ПМ19-1
1         Илья пм 20-4
2            Анна 20-3
dtype: object

In [ ]:
for k in obj:
  print(re.findall(r'\d\d-\d', k))

['19-1']
['20-4']
['20-3']

3. Разбейте текст формулировки задачи 2 на слова.

In [ ]:
task ='Написать регулярное выражение,которое позволит найти номера групп студентов.'
print(re.findall(r'\w+', task))

['Написать', 'регулярное', 'выражение', 'которое', 'позволит', 'найти', 'номера', 'групп', 'студентов']

4. Все последовательности 'вол', 'воз', 'вон': "вол,воз,вон вол7 воБ, воВ, воз вок вог во4 воХ во4 во! воь вон"

In [ ]:
s = "вол,воз,вон вол7 воБ, воВ, воз вок вог во4 воХ во4 во! воь вон"
print(re.findall(r'во[знл]', s))

['вол', 'воз', 'вон', 'вол', 'воз', 'вон']

5. Найти все кабинеты с трехзначным номером

In [ ]:
s = '147 кабинет, 843 кабинет 010 кабинет 514 кабинет 99 кабинет 246 кабинет 572 кабинет'
print(re.findall(r'[1-9]\d{2}', s))

['147', '843', '514', '246', '572']

# **Лабораторная работа 6**

In [ ]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

### Форматирование строк

1\. Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в виде `pd.DataFrame` `recipes` При помощи форматирования строк выведите информацию об id рецепта и времени выполнения 5 случайных рецептов в виде таблицы следующего вида:

    
    |      id      |  minutes  |
    |--------------------------|
    |    61178     |    65     |
    |    202352    |    80     |
    |    364322    |    150    |
    |    26177     |    20     |
    |    224785    |    35     |
    
Обратите внимание, что ширина столбцов заранее неизвестна и должна рассчитываться динамически, в зависимости от тех данных, которые были выбраны.

In [ ]:
recipes = pd.read_csv('recipes_sample.csv')

# recipes.iloc[[2, 3, 4]]
random_lines = np.random.randint(recipes.shape[0], size=5)
id = recipes.iloc[random_lines]['id']
minutes = recipes.iloc[random_lines]['minutes']
max_id = len(str(max(id))) + 4
max_min = len(str(max(minutes))) + 4
if len("minutes") > max_min - 4:
  max_min = len("minutes") + 4

print(f'|{"id": ^{max_id}}|{"minutes": ^{max_min}}|')
print(f'|{"-":-^{max_id + max_min + 1}}|')
for i in range(5):
  print(f'|{id.iloc[i]: ^{max_id}}|{minutes.iloc[i]: ^{max_min}}|')

|    id    |  minutes  |
|----------------------|
|  376156  |    65     |
|  38008   |    35     |
|  336205  |    260    |
|  202823  |    75     |
|  331868  |    90     |

2\. Напишите функцию `show_info`, которая по данным о рецепте создает строку (в смысле объекта python) с описанием следующего вида:

```
"Название Из Нескольких Слов"

1. Шаг 1
2. Шаг 2
----------
Автор: contributor_id
Среднее время приготовления: minutes минут
```

    
Данные для создания строки получите из файлов `recipes_sample.csv` (__ЛР2__) и `steps_sample.xml` (__ЛР3__).
Вызовите данную функцию для рецепта с id `170895` и выведите (через `print`) полученную строку на экран.

In [ ]:
with open('steps_sample.xml') as fr:
  steps = BeautifulSoup(fr, 'xml')

In [ ]:
def show_info(id):
  res = recipes[recipes['id'] == id]['name'].values[0]
  res += '\n\n'

  for r in steps.find_all('recipe'):
    if r.id.next == str(id):
      i = 1
      for rs in r.find_all('step'):
        res += f'{i}. Шаг {i}: {rs.text}\n'
        i += 1

  contributor = recipes[recipes['id'] == id]['contributor_id'].values[0]
  minutes = recipes[recipes['id'] == id]['minutes'].values[0]
  res += '----------\n'
  res += f'Автор: {contributor}\n'
  res += f'Среднее время приготовления: {minutes} минут'
  return res

In [ ]:
print(show_info(170895))

leeks and parsnips  sauteed or creamed

1. Шаг 1: clean the leeks and discard the dark green portions
2. Шаг 2: cut the leeks lengthwise then into one-inch pieces
3. Шаг 3: melt the butter in a medium skillet , med
4. Шаг 4: heat
5. Шаг 5: add the garlic and fry 'til fragrant
6. Шаг 6: add leeks and fry until the leeks are tender , about 6-minutes
7. Шаг 7: meanwhile , peel and chunk the parsnips into one-inch pieces
8. Шаг 8: place in a steaming basket and steam 'til they are as tender as you prefer
9. Шаг 9: i like them fork-tender
10. Шаг 10: drain parsnips and add to the skillet with the leeks
11. Шаг 11: add salt and pepper
12. Шаг 12: gently sautee together for 5-minutes
13. Шаг 13: at this point you can serve it , or continue on and cream it:
14. Шаг 14: in a jar with a screw top , add the half-n-half and arrowroot
15. Шаг 15: shake 'til blended
16. Шаг 16: turn heat to low under the leeks and parsnips
17. Шаг 17: pour in the arrowroot mixture , stirring gently as you pour
18. Шаг 18: if too thick , gradually add the water
19. Шаг 19: let simmer for a couple of minutes
20. Шаг 20: taste to adjust seasoning , probably an additional 1 / 2 teaspoon salt
21. Шаг 21: serve warm
----------
Автор: 8377
Среднее время приготовления: 27 минут

## Работа с регулярными выражениями

In [ ]:
import re

3\. Напишите регулярное выражение, которое ищет следующий паттерн в строке: число (1 цифра или более), затем пробел, затем слова: hour или hours или minute или minutes. Произведите поиск по данному регулярному выражению в каждом шаге рецепта с id 25082. Выведите на экран все непустые результаты, найденные по данному шаблону.

In [ ]:
res = []
for r in steps.find_all('recipe'):
    if r.id.next == '25082':
      i = 1
      for rs in r.find_all('step'):
        res1 = re.findall(r'\d+ hour|\d+ hours|\d+ minute|\d+ minutes', rs.text)
        if len(res1) != 0:
          res.append(res1)
res

[['20 minute'],
 ['10 minute'],
 ['2 hour'],
 ['10 minute'],
 ['20 minute', '30 minute']]

4\. Напишите регулярное выражение, которое ищет шаблон вида "this..., but" _в начале строки_ . Между словом "this" и частью ", but" может находиться произвольное число букв, цифр, знаков подчеркивания и пробелов. Никаких других символов вместо многоточия быть не может. Пробел между запятой и словом "but" может присутствовать или отсутствовать.

Используя строковые методы `pd.Series`, выясните, для каких рецептов данный шаблон содержится в тексте описания. Выведите на экран количество таких рецептов и 3 примера подходящих описаний (текст описания должен быть виден на экране полностью).

In [ ]:
res = []
for dscr in recipes['description']:
  res1 = re.findall(r'this[A-Za-z0-9_ ]+?,[ ]*but', str(dscr))
  if len(res1) != 0:
    res.append(res1[0])
res

['this up, but',
 'this is a great meal eaten the same day ,but',
 'this can be made up to 2 hours in advance, but',
 'this yet, but',
 'this is made with a jarred alfredo sauce for quick meals, but',
 'this recipe is not overly sweet, but',
 'this was adapted from a recipe i found on the net, but',
 'this yet, but',
 'this dish here, but',
 'this recipe it would never cross my mind to try it, but',
 'this sauce on a small carnival squash, but',
 'this serve on my own, but',
 'this is kind of similar to some of the other versions out there, but',
 'this classic  drink ,but',
 'this dish, but',
 'this dip, but',
 'this is a moist, but',
 'this recipe, but',
 'this all the time, but',
 'this yet, but',
 'this baked, but',
 'this pie does not have very many ingredients in it, but',
 'this one, but',
 'this from a magazine, but',
 'this is very different, but',
 'this recipe, but',
 'this recipe, but',
 'this is really to simple to call a recipe,but',
 'this recipe, but',
 'this recipe off the internet, but',
 'this recipe from mccormick from a spice can, but',
 'this recipe, but',
 'this for christmas, but',
 'this for dessert, but',
 'this recipe from the newspaper, but',
 'this recipe, but',
 'this recipe, but',
 'this is a basic recipe calling for oranges and lemons, but',
 'this is more of a hash i love to serve with grilled steak rather than a main course, but',
 'this is definitely fancier, but',
 'this makes a big amount of sauce, but',
 'this may not be authentic, but',
 'this was quite a thin batter, but',
 'this recipe using green beans, but',
 'this came from, but',
 'this salad, but',
 'this recipe takes some time to make, but',
 'this dressing is wonderful on baby greens salad, but',
 'this sounds really weird, but',
 'this is a great recipe, but',
 'this from, but',
 'this way the alcohol will not mix, but',
 'this takes awhile to simmer, but',
 'this casserole may be made with regular white rice, but',
 'this recipe in a church cookbook and keep meaning to try it, but',
 'this recipe, but',
 'this combination of seasonings, but',
 'this originally as a passover spinach dish, but',
 'this yet, but',
 'this yet, but',
 'this using just a wooden spoon and a whisk, but',
 'this recipe is not formulated for a wedding cake, but',
 'this recipe yet, but',
 'this sauce was made to compliment low and slow smoked meats, but',
 'this salad has quite a few ingredients, but',
 'this cake is similar to a pound cake in texture, but',
 'this marinade is wonderful for any meat, but',
 'this recipe shows for pork, but',
 'this recipe, but',
 'this recipe on the recipeland website, but',
 'this dish is traditionally made with lamb, but',
 'this recipe says it serves 4 to 6 people, but',
 'this yet, but',
 'this recipe, but',
 'this is considered peasant soup, but',
 'this recipe the other day using beef shortribs, but',
 'this recipe, but',
 'this recipe, but',
 'this recipe is posted by request, but',
 'this as an exact replica, but',
 'this recipe from my cousin, but',
 'this a long time, but',
 'this is a terribly sinful dish, but',
 'this recipe is for a double batch, but',
 'this dressing was originally made with tarragon, but',
 'this site, but',
 'this up last night, but',
 'this recipe, but',
 'this recipe, but',
 'this potato salad for your next bbq, but',
 'this is not only fantastic hot, but',
 'this recipe by combining a few different recipes, but',
 'this recipe, but',
 'this dessert might seem too good to be true,but',
 'this came from, but',
 'this is perfect on the barbecue, but',
 'this sandwich are most easily made if you have a large deep fryer, but',
 'this recipe looks complex, but',
 'this with a whole loin, but',
 'this recipe, but',
 'this recipe would be here, but',
 'this is so gringo it is unreal, but',
 'this recipe, but',
 'this all the time, but',
 'this without the peanut oil and just a splash of the sesame oil for my dietary needs, but',
 'this recipe yet, but',
 'this recipe, but',
 'this redneck would ever cook, but',
 'this recipe is so good you will want to save it for company, but',
 'this yet, but',
 'this for dinner last night and was skeptical, but',
 'this one yet, but',
 'this recipe is a take off of the more traditional barley and squash dish, but',
 'this cake is very rich, but',
 'this simple, but',
 'this soup is served as a fancy appetizer in a shot glass with half a piece of candied bacon, but',
 'this on, but',
 'this sandwich, but',
 'this coleslaw is not only beautiful and festive, but',
 'this was a rr recipe, but',
 'this has been a favorite of mine for years, but',
 'this recipe makes a lot of soup, but',
 'this for awhile, but',
 'this yet, but',
 'this recipe comes from, but',
 'this recipe is, but',
 'this at room temperature, but',
 'this is a rich creamy drink made of vodka, but',
 'this by using puff pastry or any other pastry dough, but',
 'this is healthy and comforting with a pleasing, but',
 'this for supper one day, but',
 'this world on a hawaiian bun, but',
 'this is traditionally a vegetarian dish, but',
 'this will never be a substitute for real pulled pork, but',
 'this recipe yet, but',
 'this is a very simple recipe, but',
 'this recipe maintains that spirit, but',
 'this recipe yet, but',
 'this recipe, but',
 'this is about as far from gourmet as you can get, but',
 'this soup from the net, but',
 'this sounds like a weird combination of ingredients, but',
 'this recipe, but',
 'this in ages, but',
 'this is a recipe that i make to serve to guests, but',
 'this one, but',
 'this for many years at christmas time, but',
 'this is the version i have created that will not only let me enjoy it, but',
 'this recipe, but',
 'this recipe makes a lot, but',
 'this one, but',
 'this is a bit time consuming, but',
 'this tastes rich and looks like an expensive gourmet entree, but',
 'this dish is a wonderful weekday meal, but',
 'this same one on zaar, but',
 'this with a baked vegetable medley, but',
 'this recipe, but',
 'this recipe, but',
 'this recipe as well, but',
 'this was fine for the chicken itself, but',
 'this recipe, but',
 'this from a friend, but',
 'this with some garlic bread and a salad, but',
 'this is wonderful when peaches are fresh and in season, but',
 'this recipe does call for layering, but',
 'this is mildly spicy, but',
 'this one yet, but',
 'this recipe is for 2 steaks or 3 very small steaks, but',
 'this marinade can be used as a glaze for poultry or pork, but',
 'this classic chinese dish is so simple, but',
 'this on hamburger buns, but',
 'this one, but',
 'this recipe would work that well with dried chives, but',
 'this is way too runny to work, but',
 'this is really nice inside my best ever chocolate cake, but',
 'this recipe until i was going through my magazines, but',
 'this recipe myself, but',
 'this recipes takes a little playing around, but',
 'this stew in a while, but',
 'this is a concoction for salmon that i came up with when i wanted salmon, but',
 'this yet, but',
 'this recipe originated, but',
 'this recipe from cooking light, but',
 'this with rice, but',
 'this pie crust retains the flavor of an all butter crust, but',
 'this recipe yet, but',
 'this recipe once i have more time to experiment with it and modify the consistency of the batter which should be rather easy, but',
 'this yet, but',
 'this recipe, but',
 'this it did set, but',
 'this to be a hit with kids, but',
 'this recipe online a while ago, but',
 'this version attempts to recreate the same flavors, but',
 'this flavor back, but',
 'this is not only fairly easy, but',
 'this has the flavor of a cheese souffle, but',
 'this serves 4, but',
 'this recipe from pillsbury and have not tried it yet, but',
 'this recipe is not exactly crab rangoon,but',
 'this is sooooo simple, but',
 'this doctored up version of boxed mac and cheese is quick and easy, but',
 'this country, but',
 'this soup, but',
 'this soup is not only great for cold winter days, but',
 'this one, but',
 'this was born one night when i was trying a new recipe, but',
 'this not so healthy, but',
 'this an inauthentic chinese dish, but',
 'this does need some time to cook, but',
 'this sounds really good, but',
 'this the night before, but',
 'this recipe, but',
 'this for a while, but',
 'this meal with pork or veal liver, but',
 'this recipe is insanely high in fiber and protein, but',
 'this one, but',
 'this is a nice simple way to prepare chicken in the crock pot, but',
 'this yet, but',
 'this recipe, but',
 'this yet, but',
 'this one, but',
 'this makes alot, but',
 'this is not the authentic  miami cuban sandwich, but',
 'this salad on lettuce leaves, but',
 'this yet, but',
 'this meatloaf on the grill in a cast iron pan, but',
 'this recipe makes me think of him and miss him, but',
 'this is devilishly hard to make, but',
 'this yet, but',
 'this with peanut butter, but',
 'this one up, but',
 'this recipe, but',
 'this recipe is that the salt content is very high, but',
 'this soup is satisfying, but',
 'this lends itself to tweaking to meet personal preferences, but',
 'this is not pumpkin pie filling, but',
 'this butter was suggested as a dipping sauce for crab legs, but',
 'this one is just diet pudding and cool whip, but',
 'this is not every day eating, but',
 'this recipe is not to spicy, but',
 'this is not a dessert for dogs, but',
 'this with red food coloring to make a pinkish popcorn, but',
 'this one was originally called wisconsin strawberry pie, but',
 'this recipe has a lot of ingredients, but',
 'this is not only a good side dish, but',
 'this on a dutch cooking site, but',
 'this apple cake is super easy and quick to make, but',
 'this is almost too easy to be called a recipe, but',
 'this yet,but',
 'this tomato broth instead of adding beef broth, but',
 'this is good warm, but',
 'this recipe makes two pies, but',
 'this chowder, but',
 'this is from my pumpkin nuggets recipe, but',
 'this with self rising flour, but',
 'this substitute, but',
 'this recipe, but',
 'this is just the basic, but',
 'this is a great fried turkey recipe, but',
 'this yet, but',
 'this is roasted in oven, but',
 'this is by no means falafel, but',
 'this one i have not, but',
 'this recipe is a work in process, but',
 'this recipe, but',
 'this dish, but',
 'this was a book that was out before the point system, but',
 'this one yet, but',
 'this area, but',
 'this is a great recipe for stuffed onions, but',
 'this pie yet, but',
 'this salsa can be made in 5 minutes, but',
 'this on the stove, but',
 'this recipe uses chicken and sausage, but',
 'this recipe came from, but',
 'this recipe is from the moosewood restaurant low fat favorites, but',
 'this can be a little pricy, but',
 'this tasted soooooo good, but',
 'this is apparently a classic frosting for red velvet cake, but',
 'this once and i followed the recipe exactly as set out, but',
 'this would work for any kind of rice, but',
 'this mix may be refrigerated until ready to use, but',
 'this is really french, but',
 'this yet, but',
 'this simple idea, but',
 'this contains no actual onion pieces which is good for those who dislike onions, but',
 'this was made using halibut, but',
 'this without someone wanting the recipe, but',
 'this makes a 9 x 13 size dessert, but',
 'this a jumping off point, but',
 'this sauce, but',
 'this at dinner, but',
 'this recipe copied down for years, but',
 'this from, but',
 'this is the exact same recipe, but',
 'this recipe many years ago, but',
 'this dish needs to be made at least two hours before serving, but',
 'this perking, but',
 'this spread is delicious on crackers and toasts, but',
 'this recipe is scaled down to make 20 skewers, but',
 'this is spicy, but',
 'this is a somersize recipe, but',
 'this recipe, but',
 'this for myself, but',
 'this makes a good tuna melt too, but',
 'this dish used to have a different name, but',
 'this makes a big batch, but',
 'this a healthier version of the new york style cheesecake, but',
 'this much dough, but',
 'this is pretty easy, but',
 'this because my wife loves everything creamy, but',
 'this one, but',
 'this recipe came from a recipe on allrecipes, but',
 'this recipe came from the internet, but',
 'this savory dish in the  early 1950s when the budget was tight, but',
 'this would be a good way to add a little spice to the meal, but',
 'this with soft greek feta, but',
 'this dressing taste great on salads, but',
 'this recipe is how she made it, but',
 'this pie, but',
 'this recipe makes a lot, but',
 'this recipe is for 2 servings, but',
 'this uses a skirt steak, but',
 'this recipe, but',
 'this interesting dish, but',
 'this recipe, but',
 'this recipe forever, but',
 'this as yet, but',
 'this recipe, but',
 'this recipe, but',
 'this on cooking shows, but',
 'this recipe, but',
 'this depending on what i will be serving them with, but',
 'this may be simple, but',
 'this as italian bread sticks, but',
 'this recipe is very similar to other feta chicken recipes on recipezaar, but',
 'this chowder is great when you feel like soup, but',
 'this when searching for a lasagna recipe that would fit the ww core plan, but',
 'this is a long list, but',
 'this shrimp dish, but',
 'this marinade for chicken cooked on the grill, but',
 'this recipe on another website, but',
 'this recipe, but',
 'this tastes like the  well known boursin cheese, but',
 'this recipe because the shape is not only fun, but',
 'this recipe yet, but',
 'this was a long one to type, but',
 'this recipe, but',
 'this country, but',
 'this site, but',
 'this yet, but',
 'this even qualifies as a recipe, but',
 'this is for those of you who enjoy hot apple cider, but',
 'this recipe, but',
 'this is with ham and cheese, but',
 'this homemade than if you buy it already made, but',
 'this on a buffet table years ago i thought it would taste gross, but',
 'this recipe is not exactly like they have around here, but',
 'this is not an exact recipe, but',
 'this is on the site, but',
 'this recipe, but',
 'this recipe, but',
 'this is what you are looking for, but',
 'this around thanksgiving, but',
 'this baked oatmeal taste wonderful, but',
 'this serves 4, but',
 'this dish yet, but',
 'this yet, but',
 'this is from a recent foodday section of the oregonian, but',
 'this chili with corn, but',
 'this has an extremely bad odor while cooking, but',
 'this is a great recipie, but',
 'this is a salty soup that can be made with white miso, but',
 'this is a traditional indonesian recipe for fried chicken, but',
 'this simple, but',
 'this step to simplify and lower the calories and fat, but',
 'this in butter, but',
 'this is a little work, but',
 'this rice dish, but',
 'this recipe several years ago on the internet and do not remember who originally posted it, but',
 'this is best served on plain hamburger buns, but',
 'this recipe had origins in a bon appetite recipe using lemon, but',
 'this dish, but',
 'this uses precooked kielbasa, but',
 'this look long and involved, but',
 'this is not a fancy beef gravy and i am not claiming it to be the best, but',
 'this way, but',
 'this recipe, but',
 'this one yet, but',
 'this dish, but',
 'this recipe, but',
 'this with fillets, but',
 'this is tilipia, but',
 'this is how i make broccoflower, but',
 'this with both the chicken and the shrimp, but',
 'this is a quick and easy recipe, but',
 'this is a great recipe to serve as an appetizer for two or three people, but',
 'this recipe is so simple i almost decided not to post it, but',
 'this recipe, but',
 'this is a phase one south beach diet recipe, but',
 'this because i just have it saved in my weight watchers database now, but',
 'this dressing at the restaurant, but',
 'this yet, but',
 'this one had to grow on me a bit, but',
 'this recipe is similar to others, but',
 'this yet, but',
 'this recipe, but',
 'this is an adaptation of an adaptation, but',
 'this recipe is packed with fiber so they are healthy, but',
 'this recipe gives more of a dark chocolate creamer, but',
 'this is lower fat because my recipe substitutes applesauce for most of the oil, but',
 'this meat loaf in my kitchen, but',
 'this recipe to anyone, but',
 'this dish, but',
 'this is an ideal marinade for those who like spicy, but',
 'this recipe to be a little bit time consuming, but',
 'this is listed in bon appetit as a side accompaniament for cheesecake, but',
 'this from my sister, but',
 'this has zing, but',
 'this makes a lot, but',
 'this recipe, but',
 'this yet, but',
 'this pie yet, but',
 'this recipe makes, but',
 'this recipe serves 2, but',
 'this actually takes a little effort to make, but',
 'this recipe originated, but',
 'this is a simple recipe, but',
 'this over wide egg noodles and with steamed green beans for a great comfort meal, but',
 'this looks like a lot of work, but',
 'this yet, but',
 'this before to make little tarts, but',
 'this recipe originates, but',
 'this soup, but',
 'this on the stovetop, but',
 'this is absolutely delicious, but',
 'this makes a lot of muffins, but',
 'this recipe when i was a child, but',
 'this is normally 2 servings, but',
 'this on the internet, but',
 'this yet, but',
 'this cold in a wrap sandwich for a picnic and it was very good, but',
 'this looks like a long ingredient list, but',
 'this with all of you, but',
 'this is good with desserts, but',
 'this with the yolk still runny, but',
 'this recipe sounds a little strange, but',
 'this would be the second time, but',
 'this recipe, but',
 'this soup is very good right out of the pan, but',
 'this is best from the oven, but',
 'this yet, but',
 'this recipe, but',
 'this kind of thing starting with fresh tomatoes, but',
 'this is a huge batch of cookies to make, but',
 'this is sooo good, but',
 'this one up one morning while craving pancakes, but',
 'this recipe generously serves 6 to 8, but',
 'this recipe, but',
 'this may have been a robin hood recipe from many years ago, but',
 'this recipe because i like them, but',
 'this recipe has been top secret for years, but',
 'this chocolate cake is made with chocolate pudding mix, but',
 'this for dessert on easter sunday, but',
 'this cake with any kind of nuts, but',
 'this healthy, but',
 'this in other flavors too, but',
 'this recipe from kraft canada, but',
 'this dish is a little on the salty side, but',
 'this 1 along to me, but',
 'this in years, but',
 'this yet, but',
 'this all the time, but',
 'this dish requires a flambe, but',
 'this is an easy cake, but',
 'this has a lot of ingredients, but',
 'this dish, but',
 'this recipe might come across as more of a dressing than a salad, but',
 'this states it serves 6, but',
 'this recipe uses legs, but',
 'this simple recipe, but',
 'this recipe, but',
 'this is a lower fat version, but',
 'this recipe is for one, but',
 'this dish is so easy to make, but',
 'this best with fresh parmesan, but',
 'this yet, but',
 'this recipe, but',
 'this yet, but',
 'this recipe is quick and easy, but',
 'this recipe came from, but',
 'this recipe, but',
 'this for company in years, but',
 'this is such an easy, but',
 'this salad, but',
 'this is baked on yeast pastry, but',
 'this spanish dish is a lot like our sloppy joes, but',
 'this recipe, but',
 'this is so simple, but',
 'this one, but',
 'this is a bit of a pain to prepare and you have to wait four days for the pineapple and rum to fuse, but',
 'this cake is easier to make the the traditional recipe, but',
 'this recipe was meant to be served with glazed ham, but',
 'this recipe on zaar, but',
 'this recipe easier, but',
 'this specific recipe, but',
 'this one, but',
 'this is a wonderful sauce for any kind of venison, but',
 'this is a really hard dough to work with, but',
 'this recipe came from or how they were named, but',
 'this recipe was going to use a tablespoon of sesame seeds and hence have a different title, but',
 'this recipe uses shoulder of pork, but',
 'this one, but',

5\. В текстах шагов рецептов обыкновенные дроби имеют вид "a / b". Используя регулярные выражения, уберите в тексте шагов рецепта с id 72367 пробелы до и после символа дроби. Выведите на экран шаги этого рецепта после их изменения.

In [ ]:
# До изменения:
for r in steps.find_all('recipe'):
    if r.id.next == '72367':
      for rs in r.find_all('step'):
        print(rs.text)

mix butter , flour , 1 / 3 c
sugar and 1-1 / 4 t
vanilla
press into greased 9" springform pan
mix cream cheese , 1 / 4 c
sugar , eggs and 1 / 2 t
vanilla beating until fluffy
pour over dough
combine apples , 1 / 3 c
sugar and cinnamon
arrange on top of cream cheese mixture and sprinkle with almonds
bake at 350 for 45-55 minutes , or until tester comes out clean

In [ ]:
# После изменения
for r in steps.find_all('recipe'):
    if r.id.next == '72367':
      for rs in r.find_all('step'):
        print(re.sub(r'(\d+)( / )(\d+)', '\g<1>/\g<3>', rs.text))

mix butter , flour , 1/3 c
sugar and 1-1/4 t
vanilla
press into greased 9" springform pan
mix cream cheese , 1/4 c
sugar , eggs and 1/2 t
vanilla beating until fluffy
pour over dough
combine apples , 1/3 c
sugar and cinnamon
arrange on top of cream cheese mixture and sprinkle with almonds
bake at 350 for 45-55 minutes , or until tester comes out clean

### Сегментация текста

In [ ]:
import nltk

In [ ]:
s = 'ghshd'
s.isalpha()

True

6\. Разбейте тексты шагов рецептов на слова при помощи пакета `nltk`. Посчитайте и выведите на экран кол-во уникальных слов среди всех рецептов. Словом называется любая последовательность алфавитных символов (для проверки можно воспользоваться `str.isalpha`). При подсчете количества уникальных слов не учитывайте регистр.

In [ ]:
res = set()
from nltk.tokenize.toktok import ToktokTokenizer
res = set()
for r in steps.find_all('recipe'):
  for rs in r.find_all('step'):
    rs_str = rs.text.lower()
    set_step = ToktokTokenizer().tokenize(rs.text)
    for word in set_step:
      if word.isalpha():
        res.add(word)
res

{'grind',
 'signs',
 'possibility',
 'f',
 'compost',
 'thumped',
 'fraich',
 'softly',
 'poundcake',
 'saucegarlic',
 'servethaw',
 'flavors',
 'former',
 'western',
 'wants',
 'batch',
 'bolw',
 'tbs',
 'lifts',
 'cxutting',
 'ghee',
 'potful',
 'incredibly',
 'minuites',
 'recipes',
 'flair',
 'nectar',
 'shahi',
 'cote',
 'sleeping',
 'uncle',
 'husked',
 'flad',
 'deleicious',
 'jello',
 'amts',
 'coriander',
 'hollandaisesauce',
 'corned',
 'blaack',
 'clabber',
 'aborbed',
 'pooled',
 'cut',
 'guinoa',
 'nibble',
 'aper',
 'miunute',
 'gels',
 'melba',
 'duck',
 'yourself',
 'nugmeg',
 'inactive',
 'spraed',
 'giving',
 'bravas',
 'brushing',
 'khoubz',
 'chedder',
 'dpoon',
 'grando',
 'hous',
 'slashes',
 'spatulaabout',
 'ladyfinger',
 'garlickiness',
 'unpopped',
 'chunky',
 'martini',
 'emat',
 'abandon',
 'unrolling',
 'rsc',
 'grapefruit',
 'lemonextract',
 'cycles',
 'ups',
 'adhere',
 'flours',
 'timefor',
 'translucence',
 'bills',
 'brin',
 'parfait',
 'cleaver',
 'outback',
 'company',
 'overbeating',
 'topeed',
 'marzipan',
 'unbleached',
 'rotel',
 'saue',
 'music',
 'emory',
 'sugars',
 'circulation',
 'criss',
 'ffuit',
 'sorting',
 'heavenly',
 'eggy',
 'abput',
 'hefty',
 'rope',
 'hershey',
 'saver',
 'tinfoil',
 'prepare',
 'smattering',
 'strains',
 'packag',
 'kebab',
 'cornmeal',
 'fingerlength',
 'enter',
 'float',
 'herrings',
 'tempura',
 'leaving',
 'viegar',
 'stady',
 'fires',
 'distrubute',
 'mocha',
 'pinenuts',
 'raita',
 'ninja',
 'ignite',
 'quarterd',
 'indicator',
 'oats',
 'nails',
 'smmothie',
 'tucked',
 'rehydrate',
 'supervision',
 'fans',
 'evaporation',
 'likes',
 'herbal',
 'chestnut',
 'differed',
 'stuffing',
 'led',
 'griddle',
 'face',
 'layered',
 'sealing',
 'separately',
 'bag',
 'brisket',
 'fir',
 'beds',
 'minivan',
 'feugreek',
 'crecent',
 'wind',
 'shortcrust',
 'switched',
 'combind',
 'advance',
 'affair',
 'avoclassic',
 'shortest',
 'sprays',
 'bake',
 'freezecool',
 'salting',
 'athick',
 'italiano',
 'bee',
 'kumara',
 'pressure',
 'herbs',
 'mavrodaphne',
 'dripped',
 'slap',
 'tending',
 'dance',
 'garlic',
 'smallest',
 'humid',
 'exhaust',
 'balance',
 'web',
 'garlick',
 'butane',
 'remander',
 'stir',
 'makes',
 'richness',
 'expansion',
 'ovr',
 'hoursovernight',
 'disagreements',
 'throw',
 'commonly',
 'mashaed',
 'puff',
 'yogurts',
 'ketjap',
 'enhacer',
 'baby',
 'unsafe',
 'shap',
 'entry',
 'backpacking',
 'deb',
 'brewery',
 'destination',
 'slightely',
 'almunim',
 'cont',
 'proceeding',
 'pog',
 'picking',
 'rectanguliar',
 'texturizing',
 'continually',
 'transulent',
 'ashgourd',
 'boston',
 'pasta',
 'solids',
 'kulfi',
 'satsuma',
 'musseles',
 'thirdlayer',
 'thistle',
 'cai',
 'mans',
 'piepans',
 'chambord',
 'fading',
 'pol',
 'jack',
 'bed',
 'dominating',
 'superfluous',
 'whistle',
 'beast',
 'fleeting',
 'zipper',
 'soba',
 'uncolored',
 'tabbouleh',
 'remoce',
 'insure',
 'cornish',
 'elderflowers',
 'remove',
 'porridge',
 'refridgerating',
 'powders',
 'outfit',
 'displacing',
 'wineglass',
 'undiluted',
 'guwertztraminer',
 'musn',
 'tbl',
 'cakemixture',
 'ts',
 'jucier',
 'liftting',
 'white',
 'garlilc',
 'thourghly',
 'saturation',
 'dome',
 'violently',
 'mand',
 'saucer',
 'thorougha',
 'halava',
 'smuckers',
 'gallons',
 'main',
 'crosses',
 'passionfruit',
 'dhal',
 'worry',
 'anchovies',
 'shrivelled',
 'syup',
 'dirtied',
 'tapenade',
 'firmly',
 'pod',
 'strengthen',
 'saki',
 'booze',
 'path',
 'bunuelos',
 'umm',
 'taster',
 'brining',
 'fetch',
 'lechera',
 'cassarole',
 'liquour',
 'maker',
 'orangey',
 'yucca',
 'sunchokes',
 'helped',
 'seasame',
 'handling',
 'spell',
 'wiener',
 'store',
 'rye',
 'nacho',
 'pretend',
 'compound',
 'win',
 'mole',
 'water',
 'potatoes',
 'street',
 'colored',
 'amaretto',
 'clingwrap',
 'fairy',
 'degf',
 'strawberies',
 'hot',
 'certo',
 'possibble',
 'tasting',
 'stiriring',
 'dropping',
 'snout',
 'heavy',
 'lumpy',
 'unit',
 'ckened',
 'capellini',
 'accordingly',
 'dampened',
 'suspects',
 'delish',
 'rabbit',
 'crem',
 'hr',
 'durban',
 'cassia',
 'daily',
 'potabout',
 'slips',
 'dropped',
 'fight',
 'approximatly',
 'loosely',
 'challahs',
 'succeeded',
 'calculating',
 'our',
 'diced',
 'halacas',
 'soups',
 'tablespoonful',
 'peanuts',
 'tablespooon',
 'vietnamese',
 'unabsorbed',
 'strozzapreti',
 'stretching',
 'imitation',
 'twirl',
 'kinds',
 'ones',
 'blobbed',
 'steviva',
 'listing',
 'spongy',
 'sticker',
 'bradford',
 'streak',
 'struesel',
 'cheerios',
 'top',
 'unmould',
 'nests',
 'modified',
 'applesauce',
 'suds',
 'slushy',
 'velveta',
 'jiu',
 'sizzles',
 'rightly',
 'start',
 'ins',
 'cardomom',
 'member',
 'boy',
 'liquidiser',
 'thaw',
 'poky',
 'tblspn',
 'watermellon',
 'caramelize',
 'scoops',
 'sprinkly',
 'direcitons',
 'pawpaw',
 'liked',
 'larb',
 'pilaf',
 'pasilla',
 'vidalias',
 'sevillian',
 'fill',
 'diagnol',
 'lowering',
 'wip',
 'agree',
 'valentines',
 'newcombe',
 'poof',
 'satisfied',
 'goddess',
 'fres',
 'nutshell',
 'chills',
 'above',
 'pacakge',
 'yoplait',
 'threaten',
 'nealy',
 'pepperiness',
 'protects',
 'whipp',
 'trt',
 'pn',
 'mealy',
 'shears',
 'sams',
 'baguettes',
 'sweeping',
 'damsons',
 'alllow',
 'oatcake',
 'chesses',
 'immediatly',
 'frost',
 'lifestyle',
 'unsweetened',
 'libby',
 'kahlil',
 'based',
 'sterile',
 'coloring',
 'denti',
 'rissoles',
 'ribbons',
 'llowing',
 'prezels',
 'pucker',
 'purchasing',
 'wished',
 'shrivels',
 'midweek',
 'shocks',
 'thins',
 'roots',
 'snifter',
 'affect',
 'turing',
 'furiously',
 'pinked',
 'thirds',
 'kiwis',
 'fear',
 'tweak',
 'threw',
 'sweated',
 'compressing',
 'suface',
 'cycle',
 'saut',
 'trays',
 'sparing',
 'consumed',
 'through',
 'holders',
 'granola',
 'boullion',
 'alout',
 'tempeture',
 'suggests',
 'mould',
 'sweats',
 'kemp',
 'toughening',
 'loaded',
 'organized',
 'versioncombine',
 'loading',
 'fiercely',
 'cafix',
 'stressed',
 'stately',
 'succumb',
 'moose',
 'completey',
 'neatly',
 'schnapps',
 'majority',
 'beards',
 'blackberry',
 'sophisticated',
 'tapinade',
 'ruffly',
 'kitkats',
 'shelled',
 'refreshed',
 'these',
 'flaky',
 'however',
 'wand',
 'devain',
 'dungeness',
 'nog',
 'hopefully',
 'recloseable',
 'liquidize',
 'verde',
 'gypsy',
 'visually',
 'liquit',
 'infuse',
 'cognac',
 'convenienceif',
 'gallery',
 'heartily',
 'adapt',
 'courgettes',
 'bannans',
 'singly',
 'chavrie',
 'pare',
 'indivual',
 'pumplin',
 'spooned',
 'korma',
 'frothy',
 'overcooking',
 'julio',
 'cola',
 'refrigerrator',
 'scotch',
 'invert',
 'packaged',
 'lacer',
 'hugs',
 'comes',
 'ms',
 'cokked',
 'relies',
 'replacement',
 'theusual',
 'redhot',
 'patches',
 'thru',
 'categories',
 'rear',
 'pea',
 'letters',
 'eighths',
 'incorperated',
 'pie',
 'curls',
 'losses',
 'kuchen',
 'cab',
 'eclairs',
 'southwest',
 'hear',
 'nooks',
 'lait',
 'toppping',
 'duro',
 'arancini',
 'contain',
 'crain',
 'sautgarlic',
 'lamington',
 'reusing',
 'implement',
 'appendages',
 'ladle',
 'peaking',
 'midnight',
 'hermetic',
 'remaing',
 'seaon',
 'pale',
 'bees',
 'equipped',
 'floured',
 'focaccia',
 'medjool',
 'mesclun',
 'system',
 'superbly',
 'strokes',
 'every',
 'forced',
 'mice',
 'blanching',
 'holi',
 'tom',
 'lengthen',
 'towles',
 'neither',
 'tougfh',
 'maid',
 'johnny',
 'whisked',
 'weaving',
 'lettuces',
 'avail',
 'garbanzos',
 'chai',
 'history',
 'sandwiching',
 'points',
 'nand',
 'iwll',
 'betweem',
 'cheses',
 'enclosed',
 'firey',
 'hish',
 'loop',
 'seasonings',
 'crossswise',
 'postage',
 'swear',
 'spiders',
 'calendula',
 'pumpkinseeds',
 'desolves',
 'nacessary',
 'coax',
 'paris',
 'garnis',
 'compared',
 'sourkraut',
 'zwieback',
 'chouce',
 'fermented',
 'oxo',
 'broilers',
 'candy',
 'prop',
 'reinvert',
 'aand',
 'foodst',
 'crumpled',
 'goods',
 'aeriate',
 'chubby',
 'hydodermic',
 'mandas',
 'internet',
 'stovetop',
 'trace',
 'mill',
 'contest',
 'citric',
 'monteray',
 'extraction',
 'mcdonald',
 'piecaken',
 'phytohaemagglutinin',
 'shrivled',
 'junk',
 'stabbed',
 'egggplant',
 'sodiom',
 'potstickers',
 'enameled',
 'quilted',
 'mature',
 'hours',
 'dusty',
 'modifications',
 'spend',
 'spillovers',
 'everywhere',
 'scorching',
 'alarm',
 'soome',
 'vinagrette',
 'morsals',
 'immediate',
 'spoonbread',
 'forgetting',
 'juices',
 'alerting',
 'saucepans',
 'patient',
 'zuchinni',
 'tx',
 'base',
 'applejack',
 'eggshells',
 'karen',
 'bless',
 'smoldering',
 'library',
 'action',
 'slanted',
 'starch',
 'gold',
 'lavishly',
 'rau',
 'enjoys',
 'braciole',
 'tartar',
 'connected',
 'dente',
 'bubbly',
 'quarts',
 'annatto',
 'extact',
 'blend',
 'overtones',
 'damaged',
 'mussel',
 'pealed',
 'withdraw',
 'consistecy',
 'breadcrunbs',
 'sausepan',
 'viscosity',
 'flavorina',
 'salvage',
 'pinfeathers',
 'tourtiere',
 'arrrange',
 'mcuh',
 'pinepple',
 'broths',
 'teeth',
 'organic',
 'loved',
 'reamaining',
 'gaps',
 'weights',
 'beefiladas',
 'marashchino',
 'viandas',
 'soft',
 'tomatilla',
 'cheesecaky',
 'liquors',
 'fineness',
 'adore',
 'fruit',
 'tightened',
 'definition',
 'toddlers',
 'lacey',
 'bark',
 'satin',
 'nolonger',
 'whistles',
 'ole',
 'tented',
 'ingerdients',
 'cylindrical',
 'leaking',
 'originally',
 'lengthwse',
 'overall',
 'extracta',
 'house',
 'choosing',
 'garbanza',
 'caramelise',
 'acma',
 'meal',
 'unforgiving',
 'goopy',
 'enpoough',
 'pulp',
 'northwoods',
 'serranos',
 'salts',
 'roasted',
 'vitamin',
 'staying',
 'baggie',
 'cassoulet',
 'delightful',
 'mashmallows',
 'elk',
 'ghost',
 'overturn',
 'tabil',
 'tspful',
 'pc',
 'piercing',
 'diametre',
 'cracklings',
 'sandwiched',
 'boliing',
 'peach',
 'pressing',
 'german',
 'ripple',
 'professional',
 'aesthetics',
 'amoretti',
 'core',
 'chicharrones',
 'centerpiece',
 'baker',
 'muffinettes',
 'provolone',
 'colour',
 'cider',
 'sliding',
 'of',
 'galettes',
 'katsu',
 'problem',
 'dusted',
 'jagged',
 'acording',
 'journey',
 'saucem',
 'abouve',
 'shrink',
 'crispyness',
 'blanch',
 'sinful',
 'ds',
 'macadamias',
 'vinager',
 'pest',
 'pit',
 'subtle',
 'soduim',
 'tophats',
 'tends',
 'uniform',
 'playful',
 'vague',
 'manis',
 'zuccchini',
 'grill',
 'absorption',
 'has',
 'oniions',
 'mash',
 'dolloped',
 'dispense',
 'vindaloo',
 'ecco',
 'aerated',
 'abt',
 'new',
 'wholemeal',
 'fuzzy',
 'winders',
 'sounding',
 'raises',
 'components',
 'temptation',
 'tiles',
 'project',
 'rusty',
 'unused',
 'mend',
 'compartment',
 'graduation',
 'appraises',
 'missed',
 'density',
 'utilize',
 'appr',
 'crispix',
 'revove',
 'fries',
 'casino',
 'manageable',
 'liquor',
 'pith',
 'utes',
 'edging',
 'absorb',
 'garland',
 'parslied',
 'microscopic',
 'carambola',
 'devilled',
 'barberry',
 'as',
 'forms',
 'zester',
 'glogg',
 'chopping',
 'creamiest',
 'young',
 'hawaiian',
 'skitter',
 'overcome',
 'lime',
 'buillion',
 'lee',
 'mongolian',
 'spatulat',
 'juicing',
 'specify',
 'alomnds',
 'toy',
 'sponges',
 'room',
 'shrunk',
 'spareribs',
 'stainless',
 'knives',
 'heaps',
 'separtate',
 'pollock',
 'papers',
 'elderflower',
 'ph',
 'bierocks',
 'drizzle',
 'firms',
 'wilts',
 'u',
 'ryes',
 'clingfilm',
 'babies',
 'instructions',
 'schezuan',
 'aim',
 'receiving',
 'eaters',
 'function',
 'lamingon',
 'sheen',
 'healthy',
 'cautiously',
 'caesar',
 'catching',
 'altenatively',
 'recfigerate',
 'mintues',
 'appetizers',
 'handles',
 'practical',
 'carbs',
 'vertical',
 'appreciate',
 'purslane',
 'oiling',
 'tomake',
 'kadhai',
 'precook',
 'eggie',
 'weenies',
 'steel',
 'samll',
 'consume',
 'jacobs',
 'ceral',
 'hamberger',
 'kurly',
 'tag',
 'sideboys',
 'sheild',
 'honeydew',
 'coof',
 'stuffings',
 'bottling',
 'meatza',
 'maintains',
 'rose',
 'shabbos',
 'gelling',
 'sorrel',
 'distribution',
 'scene',
 'infusion',
 'bollilo',
 'siimmer',
 'incrementally',
 'gbad',
 'bows',
 'rocky',
 ...}

In [ ]:
len(res)

14956

7\. Разбейте описания рецептов из `recipes` на предложения при помощи пакета `nltk`. Найдите 5 самых длинных описаний (по количеству _предложений_) рецептов в датасете и выведите строки фрейма, соответствующие этим рецептами, в порядке убывания длины.

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from nltk.tokenize import sent_tokenize
res = {}
for d in recipes['description']:
  nsent = len(sent_tokenize(str(d)))
  prev_list = res.get(nsent, list())
  prev_list.append(recipes[recipes['description'] == d]['id'])
  res[nsent] = prev_list
res

{4: [0    44123
  Name: id, dtype: int64,
  3    35173
  Name: id, dtype: int64,
  5    44045
  Name: id, dtype: int64,
  10    50662
  Name: id, dtype: int64,
  14    149593
  Name: id, dtype: int64,
  22    141939
  Name: id, dtype: int64,
  31    166089
  Name: id, dtype: int64,
  32    129581
  Name: id, dtype: int64,
  38    44050
  Name: id, dtype: int64,
  55    376813
  Name: id, dtype: int64,
  73    375376
  Name: id, dtype: int64,
  79    217296
  Name: id, dtype: int64,
  83    202949
  Name: id, dtype: int64,
  87    392181
  Name: id, dtype: int64,
  99    302498
  Name: id, dtype: int64,
  118    292147
  Name: id, dtype: int64,
  133    291409
  Name: id, dtype: int64,
  135    489337
  Name: id, dtype: int64,
  143    256464
  Name: id, dtype: int64,
  155    388488
  Name: id, dtype: int64,
  159    430737
  Name: id, dtype: int64,
  164    63069
  Name: id, dtype: int64,
  165    112648
  Name: id, dtype: int64,
  167    468765
  Name: id, dtype: int64,
  172    33947
  Name: id, dtype: int64,
  175    210766
  Name: id, dtype: int64,
  179    313237
  Name: id, dtype: int64,
  180    394191
  Name: id, dtype: int64,
  183    311313
  Name: id, dtype: int64,
  184    157534
  Name: id, dtype: int64,
  196    67686
  Name: id, dtype: int64,
  207    15646
  Name: id, dtype: int64,
  217    14912
  Name: id, dtype: int64,
  225    407747
  Name: id, dtype: int64,
  227    151148
  Name: id, dtype: int64,
  228    111559
  Name: id, dtype: int64,
  234    250024
  Name: id, dtype: int64,
  244    331269
  Name: id, dtype: int64,
  245    387435
  Name: id, dtype: int64,
  248    365478
  Name: id, dtype: int64,
  251    18985
  Name: id, dtype: int64,
  267    504948
  Name: id, dtype: int64,
  273    494527
  Name: id, dtype: int64,
  292    335920
  Name: id, dtype: int64,
  298    243425
  Name: id, dtype: int64,
  305    329139
  Name: id, dtype: int64,
  311    223979
  Name: id, dtype: int64,
  312    112853
  Name: id, dtype: int64,
  335    230004
  Name: id, dtype: int64,
  336    40050
  Name: id, dtype: int64,
  338    69990
  Name: id, dtype: int64,
  363    455193
  Name: id, dtype: int64,
  370    25020
  Name: id, dtype: int64,
  387    151748
  Name: id, dtype: int64,
  395    102525
  Name: id, dtype: int64,
  396    336627
  Name: id, dtype: int64,
  407    44570
  Name: id, dtype: int64,
  408    403438
  Name: id, dtype: int64,
  409    249318
  Name: id, dtype: int64,
  410    181765
  Name: id, dtype: int64,
  448    123758
  Name: id, dtype: int64,
  450    316190
  Name: id, dtype: int64,
  468    36009
  Name: id, dtype: int64,
  472    55510
  Name: id, dtype: int64,
  475    413783
  Name: id, dtype: int64,
  482    373582
  Name: id, dtype: int64,
  483    383147
  Name: id, dtype: int64,
  487    339114
  Name: id, dtype: int64,
  515    502995
  Name: id, dtype: int64,
  516    47545
  Name: id, dtype: int64,
  517    519547
  Name: id, dtype: int64,
  519    179210
  Name: id, dtype: int64,
  529    213177
  Name: id, dtype: int64,
  536    482653
  Name: id, dtype: int64,
  557    217021
  Name: id, dtype: int64,
  568    66815
  Name: id, dtype: int64,
  570    149731
  Name: id, dtype: int64,
  575    130754
  Name: id, dtype: int64,
  578    73602
  Name: id, dtype: int64,
  583    396740
  Name: id, dtype: int64,
  592    465254
  Name: id, dtype: int64,
  603    357052
  Name: id, dtype: int64,
  604    222953
  Name: id, dtype: int64,
  605    423344
  Name: id, dtype: int64,
  612    342437
  Name: id, dtype: int64,
  619    102336
  Name: id, dtype: int64,
  622    294327
  Name: id, dtype: int64,
  628    260335
  Name: id, dtype: int64,
  632    291058
  Name: id, dtype: int64,
  633    243286
  Name: id, dtype: int64,
  644    214316
  Name: id, dtype: int64,
  645    283443
  Name: id, dtype: int64,
  651    106260
  Name: id, dtype: int64,
  652    395016
  Name: id, dtype: int64,
  662    107674
  Name: id, dtype: int64,
  684    247103
  Name: id, dtype: int64,
  690    184458
  Name: id, dtype: int64,
  693    464367
  Name: id, dtype: int64,
  699    188540
  Name: id, dtype: int64,
  701    110887
  Name: id, dtype: int64,
  702    100649
  Name: id, dtype: int64,
  703    466175
  Name: id, dtype: int64,
  710    428980
  Name: id, dtype: int64,
  717    153430
  Name: id, dtype: int64,
  728    29537
  Name: id, dtype: int64,
  730    85354
  Name: id, dtype: int64,
  734    229143
  Name: id, dtype: int64,
  738    442149
  Name: id, dtype: int64,
  757    264064
  Name: id, dtype: int64,
  763    304543
  Name: id, dtype: int64,
  766    495369
  Name: id, dtype: int64,
  773    229727
  Name: id, dtype: int64,
  786    384056
  Name: id, dtype: int64,
  787    131965
  Name: id, dtype: int64,
  808    213724
  Name: id, dtype: int64,
  825    194654
  Name: id, dtype: int64,
  837    12780
  Name: id, dtype: int64,
  869    105209
  Name: id, dtype: int64,
  890    222408
  Name: id, dtype: int64,
  908    238404
  Name: id, dtype: int64,
  910    122949
  Name: id, dtype: int64,
  913    132633
  Name: id, dtype: int64,
  920    507578
  Name: id, dtype: int64,
  933    356655
  Name: id, dtype: int64,
  941    291363
  Name: id, dtype: int64,
  946    461508
  Name: id, dtype: int64,
  973    378468
  Name: id, dtype: int64,
  974    146444
  Name: id, dtype: int64,
  975    456852
  Name: id, dtype: int64,
  980    403819
  Name: id, dtype: int64,
  990    449725
  Name: id, dtype: int64,
  998    524289
  Name: id, dtype: int64,
  1001    243278
  Name: id, dtype: int64,
  1018    24763
  Name: id, dtype: int64,
  1019    123577
  Name: id, dtype: int64,
  1057    144773
  Name: id, dtype: int64,
  1063    116459
  Name: id, dtype: int64,
  1070    158185
  Name: id, dtype: int64,
  1078    66022
  Name: id, dtype: int64,
  1084    414542
  Name: id, dtype: int64,
  1101    288624
  Name: id, dtype: int64,
  1105    98558
  Name: id, dtype: int64,
  1113    480684
  Name: id, dtype: int64,
  1115    406507
  Name: id, dtype: int64,
  1116    431875
  Name: id, dtype: int64,
  1121    307835
  Name: id, dtype: int64,
  1125    140084
  Name: id, dtype: int64,
  1126    354542
  Name: id, dtype: int64,
  1129    424216
  Name: id, dtype: int64,
  1137    321647
  Name: id, dtype: int64,
  1139    121665
  Name: id, dtype: int64,
  1140    456699
  Name: id, dtype: int64,
  1143    478189
  Name: id, dtype: int64,
  1167    38607
  Name: id, dtype: int64,
  1183    136899
  Name: id, dtype: int64,
  1190    356146
  Name: id, dtype: int64,
  1191    212865
  Name: id, dtype: int64,
  1205    299916
  Name: id, dtype: int64,
  1221    74640
  Name: id, dtype: int64,
  1226    227523
  Name: id, dtype: int64,
  1227    96968
  Name: id, dtype: int64,
  1233    280297
  Name: id, dtype: int64,
  1249    117523
  Name: id, dtype: int64,
  1253    118192
  Name: id, dtype: int64,
  1255    187872
  Name: id, dtype: int64,
  1256    322713
  Name: id, dtype: int64,
  1268    320503
  Name: id, dtype: int64,
  1286    89374
  Name: id, dtype: int64,
  1293    332386
  Name: id, dtype: int64,
  1304    478829
  Name: id, dtype: int64,
  1306    314834
  Name: id, dtype: int64,
  1321    128127
  Name: id, dtype: int64,
  1324    187347
  Name: id, dtype: int64,
  1338    414890
  Name: id, dtype: int64,
  1358    188006
  Name: id, dtype: int64,
  1390    480525
  Name: id, dtype: int64,
  1392    158999
  Name: id, dtype: int64,
  1406    204418
  Name: id, dtype: int64,
  1424    330133
  Name: id, dtype: int64,
  1428    313788
  Name: id, dtype: int64,
  1438    349392
  Name: id, dtype: int64,
  1449    394303
  Name: id, dtype: int64,
  1454    327891
  Name: id, dtype: int64,
  1463    93910
  Name: id, dtype: int64,
  1477    19582
  Name: id, dtype: int64,
  1485    486822
  Name: id, dtype: int64,
  1486    301593
  Name: id, dtype: int64,
  1538    87598
  Name: id, dtype: int64,
  1539    397529
  Name: id, dtype: int64,
  1540    338377
  Name: id, dtype: int64,
  1543    193720
  Name: id, dtype: int64,
  1547    296597
  Name: id, dtype: int64,
  1552    212381
  Name: id, dtype: int64,
  1559    359826
  Name: id, dtype: int64,
  1575    128495
  Name: id, dtype: int64,
  1597    411049
  Name: id, dtype: int64,
  1611    337293
  Name: id, dtype: int64,
  1623    421102
  Name: id, dtype: int64,
  1632    47444
  Name: id, dtype: int64,
  1644    451417
  Name: id, dtype: int64,
  1662    52190
  Name: id, dtype: int64,
  1664    392356
  Name: id, dtype: int64,
  1667    523538
  Name: id, dtype: int64,
  1672    318406
  Name: id, dtype: int64,
  1682    491703
  Name: id, dtype: int64,
  1683    418405
  Name: id, dtype: int64,
  1698    212473
  Name: id, dtype: int64,
  1699    524716
  Name: id, dtype: int64,
  1741    347785
  Name: id, dtype: int64,
  1746    52000
  Name: id, dtype: int64,
  1758    476032
  Name: id, dtype: int64,
  1761    360081
  Name: id, dtype: int64,
  1768    458464
  Name: id, dtype: int64,
  1770    302337
  Name: id, dtype: int64,
  1771    388065
  Name: id, dtype: int64,
  1791    108227
  Name: id, dtype: int64,
  1796    53203
  Name: id, dtype: int64,
  1805    326385
  Name: id, dtype: int64,
  1810    348094
  Name: id, dtype: int64,
  1813    273183
  Name: id, dtype: int64,
  1835    410513
  Name: id, dtype: int64,
  1843    184845
  Name: id, dtype: int64,
  1875    28648
  Name: id, dtype: int64,
  1877    226990
  Name: id, dtype: int64,
  1889    48585
  Name: id, dtype: int64,
  1893    215464
  Name: id, dtype: int64,
  1900    73564
  Name: id, dtype: int64,
  1903    259570
  Name: id, dtype: int64,
  1905    484310
  Name: id, dtype: int64,
  1922    178823
  Name: id, dtype: int64,
  1923    300625
  Name: id, dtype: int64,
  1932    8511
  Name: id, dtype: int64,
  1944    148365
  Name: id, dtype: int64,
  1955    98034
  Name: id, dtype: int64,
  1959    131732
  Name: id, dtype: int64,
  1965    373386
  Name: id, dtype: int64,
  1969    204228
  Name: id, dtype: int64,
  1974    221611
  Name: id, dtype: int64,
  1995    301055
  Name: id, dtype: int64,
  2026    256691
  Name: id, dtype: int64,
  2029    310101
  Name: id, dtype: int64,
  2057    170448
  Name: id, dtype: int64,
  2059    39974
  Name: id, dtype: int64,
  2061    403198
  Name: id, dtype: int64,
  2069    346901
  Name: id, dtype: int64,
  2075    319082
  Name: id, dtype: int64,
  2078    301370
  Name: id, dtype: int64,
  2079    433644
  Name: id, dtype: int64,
  2097    179737
  Name: id, dtype: int64,
  2103    189821
  Name: id, dtype: int64,
  2119    357863
  Name: id, dtype: int64,
  2123    179730
  Name: id, dtype: int64,
  2135    14228
  Name: id, dtype: int64,
  2139    191721
  Name: id, dtype: int64,
  2148    113103
  Name: id, dtype: int64,
  2149    392122
  Name: id, dtype: int64,
  2153    462738
  Name: id, dtype: int64,
  2170    357270
  Name: id, dtype: int64,
  2195    237364
  Name: id, dtype: int64,
  2200    162859
  Name: id, dtype: int64,
  2204    304949
  Name: id, dtype: int64,
  2207    162673
  Name: id, dtype: int64,
  2246    129094
  Name: id, dtype: int64,
  2248    478656
  Name: id, dtype: int64,
  2252    424671
  Name: id, dtype: int64,
  2253    14113
  Name: id, dtype: int64,
  2256    114066
  Name: id, dtype: int64,
  2262    203366
  Name: id, dtype: int64,
  2267    19187
  Name: id, dtype: int64,
  2269    192710
  Name: id, dtype: int64,
  2291    261176
  Name: id, dtype: int64,
  2292    31446
  Name: id, dtype: int64,
  2297    116684
  Name: id, dtype: int64,
  2301    457032
  Name: id, dtype: int64,
  2305    170480
  Name: id, dtype: int64,
  2308    184910
  Name: id, dtype: int64,
  2315    34484
  Name: id, dtype: int64,
  2318    141421
  Name: id, dtype: int64,
  2333    48475
  Name: id, dtype: int64,
  2354    138152
  Name: id, dtype: int64,
  2360    184280
  Name: id, dtype: int64,
  2361    160570
  Name: id, dtype: int64,
  2367    35795
  Name: id, dtype: int64,
  2369    312870
  Name: id, dtype: int64,
  2375    340453
  Name: id, dtype: int64,
  2379    146502
  Name: id, dtype: int64,
  2385    31209
  Name: id, dtype: int64,
  2386    262577
  Name: id, dtype: int64,
  2388    393538
  Name: id, dtype: int64,
  2391    56479
  Name: id, dtype: int64,
  2402    48635
  Name: id, dtype: int64,
  2427    175723
  Name: id, dtype: int64,
  2432    384485
  Name: id, dtype: int64,
  2444    318129
  Name: id, dtype: int64,
  2453    161589
  Name: id, dtype: int64,
  2458    451624
  Name: id, dtype: int64,
  2464    393658
  Name: id, dtype: int64,
  2469    104420
  Name: id, dtype: int64,
  2477    165769
  Name: id, dtype: int64,
  2493    11705
  Name: id, dtype: int64,
  2495    172880
  Name: id, dtype: int64,
  2498    94307
  Name: id, dtype: int64,
  2501    100626
  Name: id, dtype: int64,
  2503    62902
  Name: id, dtype: int64,
  2505    80144
  Name: id, dtype: int64,
  2511    484315
  Name: id, dtype: int64,
  2516    420610
  Name: id, dtype: int64,
  2519    429537
  Name: id, dtype: int64,
  2535    174693
  Name: id, dtype: int64,
  2541    470948
  Name: id, dtype: int64,
  2542    31618
  Name: id, dtype: int64,
  2546    166992
  Name: id, dtype: int64,
  2550    141362
  Name: id, dtype: int64,
  2552    219761
  Name: id, dtype: int64,
  2553    137031
  Name: id, dtype: int64,
  2567    80613
  Name: id, dtype: int64,
  2569    334814
  Name: id, dtype: int64,
  2576    128565
  Name: id, dtype: int64,
  2585    43546
  Name: id, dtype: int64,
  2601    190538
  Name: id, dtype: int64,
  2615    383269
  Name: id, dtype: int64,
  2632    70198
  Name: id, dtype: int64,
  2633    212521
  Name: id, dtype: int64,
  2634    207206
  Name: id, dtype: int64,
  2637    131027
  Name: id, dtype: int64,
  2647    202912
  Name: id, dtype: int64,
  2658    63479
  Name: id, dtype: int64,
  2664    374473
  Name: id, dtype: int64,
  2665    22415
  Name: id, dtype: int64,
  2679    292086
  Name: id, dtype: int64,
  2680    161644
  Name: id, dtype: int64,
  2684    154673
  Name: id, dtype: int64,
  2685    68703
  Name: id, dtype: int64,
  2689    479449
  Name: id, dtype: int64,
  2695    187962
  Name: id, dtype: int64,
  2699    97504
  Name: id, dtype: int64,
  2704    376156
  Name: id, dtype: int64,
  2713    186300
  Name: id, dtype: int64,
  2715    448669
  Name: id, dtype: int64,
  2735    179885
  Name: id, dtype: int64,
  2741    50890
  Name: id, dtype: int64,
  2751    132851
  Name: id, dtype: int64,
  2763    482212
  Name: id, dtype: int64,
  2768    363712
  Name: id, dtype: int64,
  2774    398304
  Name: id, dtype: int64,
  2779    217802
  Name: id, dtype: int64,
  2787    184128
  Name: id, dtype: int64,
  2794    65918
  Name: id, dtype: int64,
  2818    316232
  Name: id, dtype: int64,
  2839    321147
  Name: id, dtype: int64,
  2863    188823
  Name: id, dtype: int64,
  2873    449330
  Name: id, dtype: int64,
  2877    79784
  Name: id, dtype: int64,
  2880    357072
  Name: id, dtype: int64,
  2881    418357
  Name: id, dtype: int64,
  2882    411697
  Name: id, dtype: int64,
  2896    417786
  Name: id, dtype: int64,
  2900    71784
  Name: id, dtype: int64,
  2908    373867
  Name: id, dtype: int64,
  2917    199579
  Name: id, dtype: int64,
  2920    207929
  Name: id, dtype: int64,
  2924    58935
  Name: id, dtype: int64,
  2932    241618
  Name: id, dtype: int64,
  2937    384511
  Name: id, dtype: int64,
  2945    150802
  Name: id, dtype: int64,
  2959    262188
  Name: id, dtype: int64,
  2961    213352
  Name: id, dtype: int64,
  2965    176478
  Name: id, dtype: int64,
  2980    363016
  Name: id, dtype: int64,
  2989    123989
  Name: id, dtype: int64,
  2995    444125
  Name: id, dtype: int64,
  3000    64820
  Name: id, dtype: int64,
  3026    382880
  Name: id, dtype: int64,
  3031    214206
  Name: id, dtype: int64,
  3038    118700
  Name: id, dtype: int64,
  3058    57924
  Name: id, dtype: int64,
  3059    25759
  Name: id, dtype: int64,
  3111    249083
  Name: id, dtype: int64,
  3155    219337
  Name: id, dtype: int64,
  3178    267665
  Name: id, dtype: int64,
  3196    132353
  Name: id, dtype: int64,
  3200    157946
  Name: id, dtype: int64,
  3209    116878
  Name: id, dtype: int64,
  3210    387843
  Name: id, dtype: int64,
  3212    423667
  Name: id, dtype: int64,
  3248    409335
  Name: id, dtype: int64,
  3258    107533
  Name: id, dtype: int64,
  3261    57408
  Name: id, dtype: int64,
  3263    81197
  Name: id, dtype: int64,
  3264    340996
  Name: id, dtype: int64,
  3272    390396
  Name: id, dtype: int64,
  3275    100395
  Name: id, dtype: int64,
  3291    214037
  Name: id, dtype: int64,
  3295    13580
  Name: id, dtype: int64,
  3312    364945
  Name: id, dtype: int64,
  3316    166022
  Name: id, dtype: int64,
  3330    99121
  Name: id, dtype: int64,
  3340    206824
  Name: id, dtype: int64,
  3341    110286
  Name: id, dtype: int64,
  3348    364629
  Name: id, dtype: int64,
  3351    176207
  Name: id, dtype: int64,
  3355    15384
  Name: id, dtype: int64,
  3374    112691
  Name: id, dtype: int64,
  3377    164317
  Name: id, dtype: int64,
  3379    30317
  Name: id, dtype: int64,
  3382    41026
  Name: id, dtype: int64,
  3399    120366
  Name: id, dtype: int64,
  3401    50032
  Name: id, dtype: int64,
  3403    313058
  Name: id, dtype: int64,
  3406    35094
  Name: id, dtype: int64,
  3411    239206
  Name: id, dtype: int64,
  3421    354293
  Name: id, dtype: int64,
  3434    170240
  Name: id, dtype: int64,
  3467    244328
  Name: id, dtype: int64,
  3472    93520
  Name: id, dtype: int64,
  3501    117064
  Name: id, dtype: int64,
  3503    46309
  Name: id, dtype: int64,
  3518    65264
  Name: id, dtype: int64,
  3521    299149
  Name: id, dtype: int64,
  3522    139049
  Name: id, dtype: int64,
  3530    374315
  Name: id, dtype: int64,
  3534    123549
  Name: id, dtype: int64,
  3552    400000
  Name: id, dtype: int64,
  3565    254239
  Name: id, dtype: int64,
  3566    118248
  Name: id, dtype: int64,
  3568    421995
  Name: id, dtype: int64,
  3577    360374
  Name: id, dtype: int64,
  3582    99352
  Name: id, dtype: int64,
  3585    240874
  Name: id, dtype: int64,
  3591    235666
  Name: id, dtype: int64,
  3612    148656
  Name: id, dtype: int64,
  3619    207944
  Name: id, dtype: int64,
  3621    303275
  Name: id, dtype: int64,
  3623    397909
  Name: id, dtype: int64,
  3625    454111
  Name: id, dtype: int64,
  3637    425348
  Name: id, dtype: int64,
  3643    217210
  Name: id, dtype: int64,
  3648    471874
  Name: id, dtype: int64,
  3656    375466
  Name: id, dtype: int64,
  3660    359047
  Name: id, dtype: int64,
  3663    279358
  Name: id, dtype: int64,
  3670    303556
  Name: id, dtype: int64,
  3674    396623
  Name: id, dtype: int64,
  3681    28983
  Name: id, dtype: int64,
  3687    282358
  Name: id, dtype: int64,
  3701    396266
  Name: id, dtype: int64,
  3704    486574
  Name: id, dtype: int64,
  3714    404623
  Name: id, dtype: int64,
  3721    489054
  Name: id, dtype: int64,
  3723    141286
  Name: id, dtype: int64,
  3728    111368
  Name: id, dtype: int64,
  3734    144083
  Name: id, dtype: int64,
  3735    168737
  Name: id, dtype: int64,
  3746    394247
  Name: id, dtype: int64,
  3747    175304
  Name: id, dtype: int64,
  3751    115115
  Name: id, dtype: int64,
  3763    376954
  Name: id, dtype: int64,
  3766    28969
  Name: id, dtype: int64,
  3769    51546
  Name: id, dtype: int64,
  3775    139208
  Name: id, dtype: int64,
  3788    117021
  Name: id, dtype: int64,
  3793    94269
  Name: id, dtype: int64,
  3800    75730
  Name: id, dtype: int64,
  3803    350077
  Name: id, dtype: int64,
  3810    322599
  Name: id, dtype: int64,
  3826    58173
  Name: id, dtype: int64,
  3833    434495
  Name: id, dtype: int64,
  3850    269646
  Name: id, dtype: int64,
  3889    74517
  Name: id, dtype: int64,
  3894    85043
  Name: id, dtype: int64,
  3903    47755

In [ ]:
sent = []
i = 0
while i < 5:
  nsent = sorted(list(res.keys()))[::-1][i]
  for id in res[nsent]:
    sent.append(id)
    i += 1
sent[1].values

array([287008])

In [ ]:
recipes[(recipes['id'] == sent[0].values[0]) | (recipes['id'] == sent[1].values[0]) | (recipes['id'] == sent[2].values[0]) | (recipes['id'] == sent[3].values[0]) | (recipes['id'] == sent[4].values[0])]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
481,alligator claws avocado fritters with chipot...,287008,45,765354,2008-02-19,NaN,a translucent golden-brown crust allows the gr...,9.0
6779,chocolate tea,205348,6,428824,2007-01-14,NaN,i wrote this because there are an astounding l...,NaN
16296,little bunny foo foo cake carrot cake with c...,316000,68,689540,2008-07-27,14.0,the first time i made this cake i grated a mil...,NaN
18408,my favorite buttercream icing for decorating,334113,30,681465,2008-10-30,12.0,this wonderful icing is used for icing cakes a...,NaN
22566,rich barley mushroom soup,328708,60,221776,2008-10-03,NaN,this is one of the best soups i've ever made a...,10.0

8\. Напишите функцию, которая для заданного предложения выводит информацию о частях речи слов, входящих в предложение, в следующем виде:
```
PRP   VBD   DT      NNS     CC   VBD      NNS        RB   
 I  omitted the raspberries and added strawberries instead
```
Для определения части речи слова можно воспользоваться `nltk.pos_tag`.

Проверьте работоспособность функции на названии рецепта с id 241106.

Обратите внимание, что часть речи должна находиться ровно посередине над соотвествующим словом, а между самими словами должен быть ровно один пробел.

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [ ]:
def pos(s):
  line = nltk.pos_tag(ToktokTokenizer().tokenize(s))
  pos_str = ''
  word_str = ''
  for token in line:
    width = len(token[0])
    pos_str += f'{token[1]: ^{width}} '
    word_str += token[0] + ' '
  return pos_str + '\n' + word_str

line = recipes[recipes['id'] == 241106]['name']
print(pos(line.values[0]))

   JJ     NNS    IN     NNS    VBP    JJ   CC   JJ    NNS
eggplant steaks with chickpeas feta cheese and black olives